{%  macro render_field(field) %}
	<div class = "form-group">
	
	{% if field.type == "BooleanField" %}
		{{ field.label(class_="col-sm-offset-3 col-sm-4") }}
		{{ field(**kwargs) | safe }}
		
	{% else %}
	
		{{ field.label(class_="col-sm-3 control-label") }}
		<div class = "col-sm-8">
			{{ field(class_="form-control", **kwargs) | safe }}
		</div>
	
	{% endif %}
	
	{% if field.errors %}
		<ul class = errors>
		{% for error in field.erros %}
			<li> {{ error }} </li>
		{% endfor %}
		</ul>
	{% endif %}
	
	</div>
{% endmacro %}