{% extends "headers.html" %}
{% block body %}


<div class = "container">

	<h2 align = "center">About Sentiment Gauge</h2>
	
	<br>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			What is Sentiment Analysis?
		</div>
		
		<div class =" panel-body">
		Sentiment Analysis is the process of quantifying the "sentiment" or the emotion about a topic by analyzing text 
		from an individual or collection of individuals regarding one or more topics.
		</div>
		
		<div class="panel-heading">
			How is it Sentiment Analysis Used?
		</div>
		
		<ul class = "list-group">
			<li class = "list-group-item">
				We provide quantitative values describing the sentiment of over 400 securities.  Theses values can be used to 
				inform a variety of investment decisions.  Near-term variations in stock price are heavily influenced by 
				the markets opinion about the security of interest, the sector/industry it resides in, or the products it 
				produces.  Leveraging quantitative data that describes market sentiment can potentially improve your ability 
				to make better investment descisions.
			</li>
			<li class = "list-group-item" align = "center">
				<strong>Note: Using sentiment data is no guarantee of improved return on investment</strong>
			</li>
		</ul>
		
		
		<div class="panel-heading">
			How is Sentiment Quanitified?
		</div>
		
		<div class =" panel-body">
		blah motha f'in blah! blah motha f'in blah! blah motha f'in blah! blah motha f'in blah! blah motha f'in blah!
		</div>
		
		<div class="panel-heading">
			What technologies are used to calculate Sentiment?
		</div>
		
		<div class =" panel-body">
		blah motha f'in blah! blah motha f'in blah! blah motha f'in blah! blah motha f'in blah! blah motha f'in blah!
		</div>
		
	</div>


</div>

{% endblock %}