{% extends "headers.html" %}
{% block body %}


<div class = "container" style = "padding-top: 20px">

	<h2 align = "center">About Sentiment Gauge</h2>
	
	<br>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>What is Sentiment Gauge?</strong>
		</div>
		
		<ul class = "list-group">
			<li class = "list-group-item">
				Sentiment Gauge provides quantitative market sentiment data generated through the analysis of social 
				media feeds.  We provide sentiment data for nearly all of the securities listed in the S&P 500 and plan 
				to continually add to this list.
			</li>
			<li class = "list-group-item">
				Sentiment Gauge is about the aggregation of information to harness the "wisdom of the crowds".  Numerous
				studies have shown that collective insight tends to converge towards the truth and having a quantitative 
				measure of this insight can be leveraged to better understand market conditions and volatility.
			</li>
		</ul>
		
		<div class="panel-heading">
			<strong>What is Sentiment Analysis?</strong>
		</div>
		
		<ul class = "list-group">
			<li class = "list-group-item">
				Sentiment Analysis is the process of quantifying the "sentiment" or the emotion about a topic by analyzing 
				digital data collected from an individual or group of individuals regarding one or more topics.
			</li>
		</ul>
		
		<div class="panel-heading">
			<strong>How is it Sentiment Analysis Used?</strong>
		</div>
		
		<ul class = "list-group">
			<li class = "list-group-item">
				We provide quantitative values describing the sentiment of over 400 securities.  These values can be used 
				to 	inform a variety of investment decisions.  Near-term variations in stock price are heavily influenced 
				by the markets opinion about the security of interest, the sector/industry it resides in, or the products 
				it produces.  Leveraging quantitative data that describes market sentiment can potentially improve your 
				ability to make better investment decisions and understand market volatility.
			</li>
			<li class = "list-group-item" align = "center">
				<strong>Note: Using sentiment data is no guarantee of improved return on investment</strong>
			
			</li>
		</ul>

		<div class="panel-heading">
			<strong>How is Sentiment Quanitified?</strong>
		</div>
		
			<ul class = "list-group">
				<li class = "list-group-item">
				Sentiment is quantified using predictive models that "read" text, determine if it is positive or negative,
				and then assess the magnitude of that sentiment.
				</li>
				<li class = "list-group-item">
				Sentiment Gauge analyzes Twitter feeds, identifies tweets that are relevant to a particular security, and 
				determines the sentiment of that particular tweet.  We employ Natural Language Processing methodologies
				to parse text into its most basic and useful components and then apply proprietary machine learning
				algorithms to quantify sentiment.
				</li>
				<li class = "list-group-item">
				Sentiment is rated on a scale of -1.0 to 1.0 or extremely negative to extremely positive.
				</li>
			</ul>
				
	</div>


</div>

{% endblock %}