{% extends "headers.html" %}
{% block body %}


<div class = "container" align = "center">
	<img style = "width: 80%; padding-top: 15%; padding-bottom: 20%" src="{{ url_for('static', filename='images/logo2.PNG') }}">
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4 col-md-4" align = "center">
			<a href = "/about"><img style = "width: 50%" src="{{ url_for('static', filename='images/about.PNG') }}"></a>
		</div>
		<div class="col-sm-4 col-md-4" align = "center">
			<a href = "/products"><img style = "width: 50%" src="{{ url_for('static', filename='images/products.PNG') }}"></a>
		</div>
		<div class="col-sm-4 col-md-4" align = "center">
			<a href = "/registration"><img style = "width: 50%" src="{{ url_for('static', filename='images/register.PNG') }}"></a>
		</div>
	</div>
</div>


{% endblock %}