{% extends "headers.html" %}
{% block body %}


<div class = "container">
	<div class = "row-fluid">
	
		<div class = "col-md-5 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 align = "center"><strong>BASE PACKAGE</strong></h3>
					<br>
				</div>
				<ul class = "list-group">
					<li class = "list-group-item" align = "center"><h4>$5 / month </h4></li>
					<li class = "list-group-item" align = "center">Access to Sentiment Data for over 400 securities</li>
					<li class = "list-group-item" align = "center">Access to the Sentiment Dashboard and the Sentiment Analysis Tools for evaluating individual securities</li>
					<li class = "list-group-item" align = "center">Ability to export Sentiment data in commonly used formats</li>
					<li class = "list-group-item" align = "center"><a href="/base_package"><button type="button" class="btn btn-warning"><h5>Learn More!</h5></button></a></li>
				
				</ul>
			</div>
		</div>
		
		<div class = "col-md-5 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 align = "center"><strong>OPTIONS PACKAGE</strong></h3>
					<h5 align = "center">(Includes Base Package)</h5>
				</div>
				<ul class = "list-group">
					<li class = "list-group-item" align = "center"><h4>$25 / month </h4></li>
					<li class = "list-group-item" align = "center">Sentiment driven option recommendataions for near and mid term trading strategies</li>
					<li class = "list-group-item" align = "center">"Bull Call Spread", "Bear Put Spread", "Iron Condor"</li>
					<li class = "list-group-item" align = "center">Ability to set up email alerts</li>
					<li class = "list-group-item" align = "center">Coming Soon!</li>
					<li class = "list-group-item" align = "center"><a href="/options_package"><button type="button" class="btn btn-warning"><h5>Learn More!</h5></button></a></li>
					
				
				</ul>
			</div>
		</div>
		
		<div class = "col-md-5 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 align = "center"><strong>INDUSTRY ANALYSIS</strong></h3>
					<h5 align = "center">(Includes Base Package)</h5>
				</div>
				<ul class = "list-group">
					<li class = "list-group-item" align = "center"><h4>$25 / month </h4></li>
					<li class = "list-group-item" align = "center">Identify key <strong>Industry Trends</strong> that can be used to make predictions or forecasts</li>
					<li class = "list-group-item" align = "center">Analysis includes the examination of consumer behaviour, technology, recent activities, and competition relevant to the security or industry of interest</li>
					<li class = "list-group-item" align = "center"><a href="/industry_package"><button type="button" class="btn btn-warning"><h5>Learn More!</h5></button></a></li>
				
				</ul>
			</div>
		</div>
		
		<div class = "col-md-5 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 align = "center"><strong>COMBO PACKAGE</strong></h3>
					<h5 align = "center">(Includes <strong>ALL</strong> Packages)</h5>
				</div>
				<ul class = "list-group">
					<li class = "list-group-item" align = "center"><h4>$45 / month </h4></li>
					<li class = "list-group-item" align = "center">Access to the Base, Options, and Industry Analysis Packages</li>
					<li class = "list-group-item" align = "center">Coming Soon!</li>
					<li class = "list-group-item" align = "center"><a href="/combo_package"><button type="button" class="btn btn-warning"><h5>Learn More!</h5></button></a></li>
				
				</ul>
			</div>
		</div>
		
		
	</div>
</div>

{% endblock %}