{% extends "headers.html" %}
{% block body %}


<body>
	<div class = "container" style = "padding-top: 20px">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
			
				{% if status == "Fail" %}
					<div class = "alert alert-danger" role = "alert">
				{% else %}
					<div class = "alert alert-success" role = "alert">
				{% endif %}
				
				{% for message in messages %}
					{{ message }}
				{% endfor %}
				</div>
			{% endif %}
		{% endwith %}
	
	
		<div class ="panel panel-default">			
			<div class = "panel-heading">
				<h4>Register</h4>
			</div>			
			<div class = "panel-body">
				{% from "_formhelpers.html" import render_field %}
				<form class = "form-horizontal" method=post action="/registration">
					
						{{ render_field(form.username) }}
						{{ render_field(form.email) }}
						{{ render_field(form.password) }}
						{{ render_field(form.confirm) }}
						{{ render_field(form.accept_tos) }}
					
					<p><input type=submit value=Register></p>
				</form>				
				{% if error %}
					<p class="error"><strong>Error:</strong>{{error}}</p>
				{% endif %}
			</div>
		</div>
	</div>
</body>

{% endblock %}