{% extends "headers.html" %}
{% block body %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
<script type="text/javascript" src="{{ url_for('static', filename='js/sentiment_dashboard_charts.js')}}"></script>

<style>
.sliderClass .google-visualization-controls-slider-horizontal {
  width:125px;
}
</style>

<div class = "container" style = "padding-top: 20px">
	<div id = "desription">
		<h1 align="center"> Sentiment Dashboard </h1>
		<div class="alert alert-warning alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<p>
					<h4 align="center"> Use the controls below to search for individual securities 
						or filter the table to find securities matching your desired criteria
					</h4>
				</p>
				<p>
					<h4 align="center"> Sort the columns of the table by clicking on the column header</h4>
				</p>
		</div>

	<div id="stringFilter_dashboard_div" style="border: 1px solid #ccc">
		<div class = "row-fluid">
			<div class = "col-sm-6 col-lg-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" align = "center">Search Security Name</h3>
					</div>
					<div align="center" class="panel-body" id="stringFilter_control_div"></div>
				</div>
			</div>
			
			<div class = "col-sm-6 col-lg-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" align = "center">Filter by Sector</h3>
					</div>
					<div align="center" class="panel-body" id="categoryFilter_dashboard_div"></div>
				</div>
			</div>
			<div class = "col-sm-6 col-lg-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" align = "center">Filter by Sentiment Volume</h3>
					</div>
					<div align="center"  class="panel-body" id="sentVolFilter_dashboard_div"></div>
				</div>
			</div>
			<div class = "col-sm-6 col-lg-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" align = "center">Filter by Sentiment</h3>
					</div>
					<div align="center" class="panel-body" id="sentFilter_dashboard_div"></div>
				</div>
			</div>
		</div>
		<div class = "row">			
			<div class = "col-lg-12" id="stringFilter_chart_div"></div>		
		</div>			
	</div>
	
	
	
<div id="returnDashboard" style = "padding-top: 10px" align = "right">
		<a href="/download_dashboard"><button type="button" class="btn btn-warning"><h5>Download Dashboard</h5></button></a>
	</div>	
</div>

	


{% endblock %}